@font-face {
  font-family: yekan-bakh;
  src: url("../src/fonts/Yekan\ Bakh\ EN\ 03\ Light.ttf");
}

body {
  overflow-x: hidden !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: yekan-bakh;
}

main {
  position: relative;
  margin-top: 46px;
  overflow: hidden;
}

input,
textarea,
select,
option {
  outline: none;
}

.Select {
  width: 317px;
  height: 40px;
  border-radius: 12px;
  background-color: #e7ecf4;
  border: none;
  // color: #9db0cb;
  color: #6a7d9b;
  option {
    background-color: #fff;
    border: 1px solid #d5dde7;
    border-radius: 12px;
  }
}

h3 {
  font-family: yekan-bakh;
  color: #0b3a42;
  font-size: 40px;
}

p,
span {
  font-family: yekan-bakh;
  color: #155a6d;
  line-height: 24px;
  font-size: 18px;
}
.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.ml-36 {
  margin-left: 36px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.p-24 {
  padding: 24px;
}

.My-24 {
  margin-top: 24px;
}

.Px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.TextCenter {
  text-align: center;
}

.MainSection {
  background-color: #f5f7fa;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 121px;
  margin-bottom: 46px;
}

.DFlex {
  display: flex;
}

.FlexColumn {
  flex-direction: column;
}

.JustifyContentCenter {
  justify-content: center !important;
}

.JustifyContentStart {
  justify-content: start;
}

.JustifyContentBetween {
  justify-content: space-between;
}

.AlignItemsCenter {
  align-items: center;
}

.AlignItemsStart {
  align-items: start;
}

.Radiuse16 {
  border-radius: 16px 0 16px 16px;
}

.mx-37 {
  margin-left: 37px;
  margin-right: 37px;
}

.Font-16 {
  font-size: 16px;
}

.BR-16 {
  border-radius: 16px;
}

.BR-12 {
  border-radius: 12px;
}

.FormBg {
  background-color: #f5f7fa;
}

.MAuto {
  margin: auto;
}

.head {
  width: 1140px;
  position: absolute;
  top: -55px;
  z-index: 0;
  .ActiveItem {
    background-color: #e7ecf4;
  }

  .DeactiveItem {
    background-color: #ffffff;
  }
}

label {
  width: 60px;
  font-size: 16px;
  color: #585858;
  font-weight: bold;
}

.PositionRelative {
  position: relative;
}

.PositionAbsolute {
  position: absolute;
}

.Content {
  width: 1140px;
  height: 1193px;
  margin-bottom: 223px;
  background-color: #ffff;
  z-index: 999;
}

.Box {
  width: 926px;
  height: 667px;
  box-shadow: #000000;
  border: 2px solid #20c5ba;
  margin: auto;
  margin-top: 105px;
}

ul > li {
  list-style-type: none;

  &::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #20c5ba; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-right: -1em;
    position: absolute;
  }
}

.label {
  width: 213px;
  height: 110px;
  border-radius: 16px;
  background-color: #e7ecf4;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

form {
  textarea {
    width: 765px;
    height: 169px;
    border: 1px solid #dbe4f2;
    background-color: #ffffff;
    border-radius: 12px;
  }
  input {
    border: 1px solid #dbe4f2;
    background-color: #ffffff;
    width: 341px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 12px;
  }
  .rezome {
    border: 1px solid #dbe4f2;
    background-color: #ffffff;
    width: 341px;
    height: 40px;
    margin-bottom: 16px;
    border-radius: 12px;
    position: relative;
  }
}

.FileLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eef2f7;
  color: #9db0cb;
  border: 1px solid #dbe4f2;
  border-radius: 12px;
  font-size: 16px;
  width: 124px;
  height: 40px;
}

.DeactiveBtn {
  background-color: #eef2f7;
  // pointer-events: none !important;
  color: #9db0cb;
  font-size: 16px;
}

.Btn {
  width: 188px;
  height: 40px;
  border: none;

  &:hover {
    background-color: #009191;
    color: #fff;
  }
}

.SmallCard {
  background-color: #f6f8fb;
  width: 170px;
  height: 159px;
  border-radius: 16px;
}

.FormSection {
  height: 1259px;
  background-color: #fff;
  width: 100%;
}

.introduction {
  width: 926px;
  margin: auto;
  padding-top: 135px;
}

.FooterImg {
  margin-left: 72px;
  margin-top: 52px;
}

// ?acardeon styles

.acardeon {
  height: 902px;
  background-color: #eef2f7;
  width: 100%;
  padding: 0 330px;
}

.transition,
ul li i:before,
ul li i:after,
p {
  transition: all 0.25s ease-in-out;
}

.flipIn,
ul li,
h1 {
  animation: flipdown 0.5s ease both;
}

.no-select,
h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 550px) {
  body {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
}

h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
}

.DrowpDown {
  color: rgba(48, 69, 92, 0.8);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  padding: 31px;
  // border-top: 1px dotted #dce7eb;
}

ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

ul li:nth-of-type(3) {
  animation-delay: 1s;
}

ul li:last-of-type {
  padding-bottom: 0;
}

ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: -10px;
  left: 13px;
  background-color: #20c5ba;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #fafafa;
  width: 3px;
  height: 9px;
  left: 12px;
  top: 9px;
}

ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

ul li input[type="checkbox"]:checked ~ .DrowpDown {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li input[type="checkbox"]:checked ~ i {
  background-color: #e7ecf4;
}

ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
  background: #9db0cb;
}

ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
  background: #9db0cb;
}

.border {
  border: 1px solid #20c5ba;
  border-radius: 16px;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

// ?dynamic page

nav {
  width: var(--menu-width);
  display: flex;
  transform-style: preserve-3d;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  margin: 0px auto;
  perspective: 2000px;
  flex-wrap: wrap;
  top: 3em;
}

nav .menu-item {
  color: white;
  font-weight: 600;
  transform-style: preserve-3d;
  flex-grow: 1;
  display: flex;
  flex-basis: var(--item-width);
  box-sizing: border-box;
  padding: 1em 1.5em;
  justify-content: center;
  perspective: 200px;
  letter-spacing: 0.5px;
  min-height: 7.5em;
}

nav .menu-text,
nav .menu-text a {
  font-size: 1em;
  color: #042623;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: color 0.1s ease-out;
  text-align: center;
  font-size: 18px;
}

nav .menu-text a:hover {
  // color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid #20c5ba;
}

#sub-menu-holder {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  padding: 1em;
  position: absolute;
  transition: opacity 2 ease-out;
  transform: rotateX(-25deg) scale(1);
  transform-origin: 50% 7em 0em;
  opacity: 0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1), 0 2px 20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  top: 3rem;
  border-radius: 10px;
  background: white;
  display: block;
  height: 300px;
  width: calc(var(--menu-width) * 1.5);
}

#sub-menu-container {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  top: 2.5em;
  width: 100%;
}

nav .menu-item:hover ~ #sub-menu-container #sub-menu-holder {
  animation: clipPath 0.25s ease-out 1 forwards;
  transition: clip-path 0.25s ease-out, left 0.15s ease-out,
    height 0.15s ease-out;
  opacity: 1;
  right: auto;
}
nav .menu-item:nth-of-type(1):hover ~ #sub-menu-container #sub-menu-holder,
nav .menu-item:nth-of-type(4):hover ~ #sub-menu-container #sub-menu-holder {
  clip-path: inset(0 28.75em 0 0 round 10px);
  height: 14em;
}

nav .menu-item:nth-of-type(2):hover ~ #sub-menu-container #sub-menu-holder,
nav .menu-item:nth-of-type(3):hover ~ #sub-menu-container #sub-menu-holder {
  clip-path: inset(0 15em 0 0 round 10px);
}

nav .menu-item:nth-of-type(1):hover ~ #sub-menu-container #sub-menu-holder {
  left: calc(-9em + -1px);
}
nav .menu-item:nth-of-type(2):hover ~ #sub-menu-container #sub-menu-holder {
  left: calc(-6.5em + -1px);
  height: 18.75em;
}
nav .menu-item:nth-of-type(3):hover ~ #sub-menu-container #sub-menu-holder {
  left: calc(2.75em + 1px);
  height: 24.5em;
}
nav .menu-item:nth-of-type(4):hover ~ #sub-menu-container #sub-menu-holder {
  left: calc(19em + 1px);
}

.menu-item .sub-menu {
  position: absolute;
  top: 7em;
  right: 12px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  // min-width: 926px;
  left: 12px;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 999;
  margin-left: -5em;
  clip-path: inset(0 10em 10em 15em);
  opacity: 0;
  font-weight: initial;
  padding: 1.5em;
  transition: all 0.25s ease-out, opacity 0.25s ease-in,
    margin-left 0.25s ease-out, clip-path 0.15s ease-out;
  border: 1px solid #20c5ba;
  background: #fff;
  height: 2155px;
  width: 926px;
  border-radius: 16px;
}

.menu-item .sub-menu.double {
  min-width: 41.25em;
  height: 18.75em;
  display: grid;
  grid-template-columns: 54% 50%;
}
.menu-item .sub-menu.triple {
  min-width: 41.25em;
  height: 25em;
  display: grid;
  padding: 1.5em 2.5em;
  grid-template-columns: 55% 45%;
}
.menu-item:hover .sub-menu {
  pointer-events: all;
  clip-path: inset(0 0 0 0);
}

.menu-text:after {
  transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.01s;
  opacity: 0;
  content: "";
  position: absolute;
  pointer-events: none;
  bottom: -5em;
  left: calc(50% - 10px);
  border-color: transparent transparent white transparent;
  border-width: 10px;
  border-style: solid;
}
.menu-item:hover .menu-text:after {
  bottom: 0.5em;
  opacity: 1;
  transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.15s;
}
.menu-item:hover .sub-menu {
  opacity: 1;
  margin-left: 0;
}

.menu-item:hover ~ #sub-menu-container #sub-menu-holder {
  transition: transform 0.25s ease-out, opacity 0.25s ease-out,
    clip-path 0.25s ease-out;
}

@keyframes clipPath {
  0% {
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) scale(1);
    top: 4.5em;
    opacity: 1;
  }
}

/* Menu specific */
.menu-item .title {
  font-weight: 500;
  color: rgb(44 70 86);
  margin: 0 0 0.25em 0;
}

.menu-item .icon-box * {
  transition: all 0.1s ease-out;
  position: relative;
}
.menu-item .icon-box.space {
  margin-bottom: 1.25em;
}
.menu-item .icon-box.flat {
  height: 1.5em;
  margin-bottom: 0.5em;
}
.menu-item .icon,
.menu-item .text {
  float: left;
  color: #9ea9af;
}

.menu-item .icon {
  color: rgb(44 70 86);
  font-size: 1.25em;
  margin: 0 1em 0 0;
}
.menu-item .icon-box {
  cursor: pointer;
}
.menu-item .icon-box {
  float: left;
  width: 100%;
  margin: 0;
  height: 4em;
  row-gap: 0;
  line-height: 1em;
}

.menu-item .icon-box .text i {
  clip-path: inset(0 100% 0 0);
  font-size: 0.75em;
  position: relative;
  top: -1px;
}

/* Base Icon Style */
.icon-box.gb .icon i:before {
  background: linear-gradient(45deg, #0c86ef, #0cef9b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-left: 1px;
}

/* Define Icon Colors */
.icon-box.gb.a .icon i:before {
  background-image: linear-gradient(45deg, #2ca7ff 35%, #31d078 75%);
}
.icon-box.gb.b .icon i:before {
  background-image: linear-gradient(45deg, #f32b2b 35%, #efbe0c 75%);
}
.icon-box.gb.c .icon i:before {
  background-image: linear-gradient(45deg, #7176ff 35%, #b26cea 75%);
}
.icon-box.gb.d .icon i:before {
  background-image: linear-gradient(45deg, #79c76f 35%, #bed09b 75%);
}
.icon-box.gb.e .icon i:before {
  background-image: linear-gradient(45deg, #6082ff 35%, #ff5dbe 75%);
}
.icon-box.gb.f .icon i:before {
  background-image: linear-gradient(45deg, #808080 35%, #bbbbbb 75%);
}

.menu-item .icon-box:hover .text i {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.1s ease-out;
}

.menu-item .icon-box:hover .icon,
.menu-item .icon-box:hover .title,
.menu-item .icon-box:hover .sub-text {
  color: rgb(89 110 123);
}

#sub-menu-bottom {
  background: #d4e3ea70;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.25s ease-out, height 0.1s ease-out;
  left: 0;
  width: 100%;
  height: 5em;
}
nav
  .menu-item:nth-of-type(3).highlight:hover
  ~ #sub-menu-container
  #sub-menu-holder
  #sub-menu-bottom {
  height: 7.5em;
}
.bottom-container {
  grid-area: 4 / -3 / 4 / 3;
  padding-top: 1.5em;
  color: #3a5260;
  font-weight: 500;
}

.top-container {
  grid-area: 1 / -3 / 1 / 3;
  margin: 0 0 2em 0;
}

.bottom-container a {
  float: right;
  background: linear-gradient(90deg, #8ea4b166, #a3b5bf6b);
  padding: 0.5em 1em;
  border-radius: 100px;
  position: absolute;
  color: #2c4655bf;
  font-weight: bold;
  text-decoration: none;
  right: 1.5em;
  bottom: 1.5em;
}

.bottom-container a:hover {
  background: linear-gradient(90deg, #8ea4b136, #a3b5bf33);
}

.sub-menu h3 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgb(44 70 86 / 68%);
  margin: 0.75em 0;
}

.sub-menu .box a {
  width: 100%;
  float: left;
  font-size: 1em;
  line-height: 1.75em;
  color: #7a8a94;
  text-decoration: none;
}

.sub-menu .box a:hover {
  color: rgb(44 70 86);
}

.box {
  margin: 0 0 3em 0;
}

.icon.big i {
  font-size: 1.25em;
  top: 0.2em;
}
nav
  .menu-item.highlight:hover
  ~ #sub-menu-container
  #sub-menu-holder
  #sub-menu-bottom {
  opacity: 1;
}

#info-box {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

#info-box ul {
  list-style: none;
}
#info-box a {
  color: white;
  text-decoration: none;
  text-align: right;
  padding: 0.5em 0;
  transition: all 0.1s ease-out;
  display: block;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 900;
  letter-spacing: 1px;
}
#info-box a:hover {
  color: rgba(255, 255, 255, 0.5);
}

small {
  color: red;
}
// ?media section

@media (max-width: 540px) {
  main {
    align-items: center !important;
    // padding: 60px 24px !important;
    overflow-x: hidden !important;
    margin-top: unset !important;
  }

  header {
    justify-content: start !important;
  }

  .head {
    width: 375px;
    position: unset !important;
    justify-content: center !important;
  }

  .label {
    width: 112px;
    height: 40px;
    background-color: #00baba;
    color: #fff;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
  }

  .CenterLabel {
    margin: 0 8px !important;
  }

  .Content {
    width: 328px !important;
    margin-top: 0 !important;
    border-radius: 16px !important;
    background-color: transparent;
    ul > li {
      width: 300px;
      background: #e7ecf4;
      border-radius: 16px;
      padding: 21px !important;
      // height: 48px !important;
      margin-bottom: 16px;
      &::before {
        content: "";
      }
    }
  }

  .DrowpDown {
    flex-direction: column !important;
  }

  .SmallCard {
    width: 279.01px !important;
    height: 159.29px;
    margin-bottom: 16px !important;
    border-radius: 16px;
    padding: 24px 0;
  }

  .FormRow {
    flex-direction: column !important;
  }
  .introduction {
    width: 376px !important;
  }
  .InputPlace {
    position: relative;
    label {
      display: none;
    }
  }

  form {
    width: 346px !important;
    label {
      position: absolute;
      position: absolute;
      top: 10px;
      right: 16px;
    }
    input {
      width: 298px !important;
    }
  }

  .por {
    display: none !important;
  }

  .FormBg {
    background-color: #fff !important;
  }

  .acardeon {
    padding: 0;
  }

  nav > .menu-item > .sub-menu {
    border: 3px solid#20C5BA;
    background-color: #fff;
    border-radius: 16px;
    width: 327px !important;
  }

  nav > .menu-text a {
    width: 123px;
    height: 40px;
    background-color: #20c5ba;
  }

  form .rezome {
    width: 302px !important;
  }

  .border {
    background-color: #fff !important;
    // height: 1424px !important;
  }

  select {
    margin-top: 16px;
  }

  .FooterImg {
    margin-left: 17px !important;
  }

  .SubmitSection {
    flex-direction: column;
    button {
      width: 100%;
    }
  }
  ul {
    margin-top: 12px;
  }
  nav .menu-item {
    padding: 0 !important;
  }

  .menu-item .sub-menu {
    height: 409px;
  }

  nav .menu-text,
  nav .menu-text a {
    height: 12px;
  }
}
